:root {
    --primary-bg: #1DA1F2;
    --secondary-bg: #ffffff;
    --text-color: #333333;
    --border-color: #ccc;
    --button-bg: #007BFF;
    --button-hover-bg: #0056b3;
    --focus-outline: #ffcc00;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --table-border: #0c0c0c;
    --correct-bg: rgb(136, 245, 145);
    --wrong-bg: rgb(248, 142, 142);
}

body {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 20px;
    background-color: var(--primary-bg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Main Container */
main {
    background-color: var(--secondary-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0px 4px 10px var(--shadow-color);
    
}

h1, h2 {
    text-align: center;
    font-size: 1.8em;
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label {
    align-self: flex-start;
    letter-spacing: 5px;
    font-weight: 800;
}

input[type="number"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin: 10px;
}
#output {
    width: 80%;
    height: 100px;
    margin-top: 10px;
    font-weight: 800;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    background-color: var(--button-bg);
    color: var(--secondary-bg);
    align-self: center;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: var(--button-hover-bg);
}

#artic {
    margin: auto;
    max-width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid var(--table-border);
    padding: 10px;
    text-align: center;
}

.correct {
    background-color: var(--correct-bg);
}
.wrong {
    background-color: var(--wrong-bg);
}

button:focus,
input:focus {
    outline: 2px solid var(--focus-outline);
}


@media (max-width: 600px) {
    main {
        width: 95%;
        padding: 15px;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    input[type="number"], button {
        width: 100%;
    }
}
